@media screen and (max-width:350px) {
    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
    .nav-link {
        font-size: 12px;
    }
    .bienvenida h2 {
        border: 2px solid green;
        font-weight: 150;
        font-size: 20px;
    }
    .bienvenida p {
        font-size: 12px;
        padding: 1em;
    }
    .ubi {
        width: 80px;
        height: 60px;
    }
    .logo {
        width: 80px;
        height: 60px;
    }
    .grid-productos {
        width: 100%;
        margin-top: 0,5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .grid-produ-1 img {
        width: 60px;
        height: 60px;
        margin-inline: 50%;
        writing-mode: horizontal-tb;
    }
    .center {
        display: flex;
        flex-direction: column;
    }
    .center p {
            font-size: 12px;
            margin: auto;

        }
    .center h2 {
            font-size: 12px;

       }
       .contacto h2 {
        font-size: 12px;

   }
       .grid-inicio {
        width: 100%;
        background-image: url(../img/fondo-respo.jpg);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px;  
    }
    .asesor  {
        font-size: 10px;
        text-align: center;
        color: rgb(7, 10, 14);
    }
    .asesor h3 {
        font-size: 14px;
    }
    .asesor1  {
        font-size: 10px;
        text-align: center;
        color: rgb(7, 10, 14);
    }
    .asesor1 h3 {
        font-size: 14px;
    }
    .asesor1 {
        grid-row: auto;
    }
    .grid-opcion,
    .grid-asesor1{
        display: grid;
        grid-template-rows: fr fr fr;
        border: 2px solid green;
      }
      .item-carru img {
        width: 100%;
        height: 300px;
        background-size: auto;
    }
    .item-carru {
        width: 100%;
        height: 300px;
        background-size: auto;
    }
    .wasap {
        width: 30px;
        height: 30px;
        left: 10px;
    }
    .grid-pie1 p{
        font-size: 10px;
    }
    .fa-whatsapp {
        font-size: 30px;
        color: white;
    }
    .wasap:hover {
        background-color: rgb(218, 218, 209);
    }
    .form-label {
        margin-bottom: .5rem;
        font-size: 12px;
    }
    .boton{
        font-size: 12px;
    }
}

@media screen and (max-width:782px) {
    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
    .nav-link {
        font-size: 12px;
    }
    .bienvenida h2 {
        border: 2px solid green;
        font-weight: 150;
        font-size: 20px;
    }
    .bienvenida p {
        font-size: 12px;
        padding: 1em;
    }
    .ubi {
        width: 80px;
        height: 60px;
    }
    .logo {
        width: 80px;
        height: 60px;
    }
    .grid-productos {
        width: 100%;
        margin-top: 0,5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    .grid-produ-1 img {
        width: 60px;
        height: 60px;
        margin-inline: 50%;
        writing-mode: horizontal-tb;
    }
    .center {
        display: flex;
        flex-direction: column;
    }
    .center p {
            font-size: 12px;
            margin: auto;

        }
    .center h2 {
            font-size: 12px;

       }
       .contacto h2 {
        font-size: 12px;

   }
       .grid-inicio {
        width: 100%;
        background-image: url(../img/fondo-respo.jpg);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px;  
    }
    .asesor  {
        font-size: 10px;
        text-align: center;
        color: rgb(7, 10, 14);
    }
    .asesor h3 {
        font-size: 14px;
    }
    .asesor1  {
        font-size: 10px;
        text-align: center;
        color: rgb(7, 10, 14);
    }
    .asesor1 h3 {
        font-size: 14px;
    }
    .asesor1 {
        grid-row: auto;
    }
    .grid-opcion,
    .grid-asesor1{
        display: grid;
        grid-template-rows: fr fr fr;
        border: 2px solid green;
      }
      .item-carru img {
        width: 100%;
        height: 300px;
        background-size: auto;
    }
    .item-carru {
        width: 100%;
        height: 300px;
        background-size: auto;
    }
    .wasap {
        width: 30px;
        height: 30px;
        left: 10px;
    }
    .grid-pie1 p{
        font-size: 10px;
    }
    .fa-whatsapp {
        font-size: 30px;
        color: white;
    }
    .wasap:hover {
        background-color: rgb(218, 218, 209);
    }
    .form-label {
        margin-bottom: .5rem;
        font-size: 12px;
    }
    .boton{
        font-size: 12px;
    }
}